**Student ID:** s225722032

**Student Name:** Phani Kiran Hemadri

**Workshop/Lab Session Time:**

In [1]:
#!pip -q install pyspark

#from google.colab import files

#uploaded = files.upload()

In [2]:
import os, glob
from google.colab import drive

print(os.getcwd())
drive.mount('/content/drive')

#!ls -lah '/content/drive/MyDrive/Colab Notebooks/business_review_submission'

file_dir='/content/drive/MyDrive/Colab Notebooks/business_review_submission'
glob.glob(os.path.join(file_dir, "*.csv"))

/content
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

['/content/drive/MyDrive/Colab Notebooks/business_review_submission/review.csv',
 '/content/drive/MyDrive/Colab Notebooks/business_review_submission/meta-review-business.csv']

In [3]:
reviews_path = f"{file_dir}/review.csv"
meta_path    = f"{file_dir}/meta-review-business.csv"

In [4]:
# start Spark session

from pyspark.sql import SparkSession

spark = (
    SparkSession
        .builder
        .appName("SIT742-SparkSQL")
        .getOrCreate()
)

In [5]:
df_reviews = (
    spark.read
         .option("header", True)
         .option("inferSchema", True)
         .csv(reviews_path)
)

df_meta = (
    spark.read
         .option("header", True)
         .option("inferSchema", True)
         .csv(meta_path)
)

df_reviews.show(5, truncate=False)

df_meta.show(5, truncate=False)

+---------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------+-------------+---------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+----+-------------------------------------+
|user_id                                                                                                                                            |name                                               |time         |rating                                                                                                               |text                                                                                                                                                                                                                                                                                      |pics|resp|gmap_id                              |
+---------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------+-------------+---------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+----+-------------------------------------+
|1.091298048426862e+20                                                                                                                              |Nicki Gore                                         |1566331951619|5                                                                                                                    |We always stay here when in Valdez for silver salmon fishing. The elderly couple that run it are amazing to talk to, extremely helpful. The campsites are very well maintained.                                                                                                           |NULL|NULL|0x56b646ed2220b77f:0xd8975e316de80952|
|1.1324092640575896e+20                                                                                                                             |Allen Ratliff                                      |1504917982385|5                                                                                                                    |Great campground for the price. Nice hot unlimited showers, laundy, and  spacious wooded lots. Full hook ups. Late check in available.                                                                                                                                                    |NULL|NULL|0x56b646ed2220b77f:0xd8975e316de80952|
|1.1304483789114126e+20                                                                                                                             |Jonathan Tringali                                  |1474765901185|4                                                                                                                    |We tent camped here for 2 nights while exploring Valdez. The center of the campground was in the open and there are treed sites around the edges. Don't expect lower foliage separating the sites. Still this is much nicer than the other RV parking lots in town which seemed wide open.|NULL|NULL|NULL                                 |
|There is a bath house with 1 set of coin operated washer/dryer                                                                                     | 2 restrooms (sink toilet) and 2 shower rooms (sink| toilet      | shower). The hot water will run out after a few showers. They provide floor mats towels for you to use which is nice| but they lack vent fans to remove moisture so it is prone to mold.                                                                                                                                                                                                                       |NULL|NULL|NULL                                 |
|Wi-Fi didn't reach our site on the back edge of the campground. Overall we were happy with our stay at this campground and would stay there again."|NULL                                               |NULL         |0x56b646ed2220b77f:0xd8975e316de80952                                                                                |NULL                                                                                                                                                                                                                                                                                      |NULL|NULL|NULL                                 |
+---------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------+-------------+---------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+----+-------------------------------------+
only showing top 5 rows

+---------------------------+------------------------------------------------------------------+-------------------------------------+-----------+------------------+-------------------+------------------------------------------------+----------+--------------+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------+
|name                       |address                                                           |gmap_id                              |description|latitude          |longitude          |category                                        |avg_rating|num_of_reviews|price|hours                                                                                                                                                                           |MISC                                                                                                                                                                                      |state                  |relative_results                                                                                                                                                                                             |url                                                                                                             |
+---------------------------+------------------------------------------------------------------+-------------------------------------+-----------+------------------+-------------------+------------------------------------------------+----------+--------------+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------+
|Bear Creek Cabins & RV Park|Bear Creek Cabins & RV Park, 3181 Richardson Hwy, Valdez, AK 99686|0x56b646ed2220b77f:0xd8975e316de80952|NULL       |61.1006437        |-146.21455179999998|['RV park', 'Cabin rental agency', 'Campground']|4.5       |18            |NULL |NULL                                                                                                                                                                            |NULL                                                                                                                                                                                      |NULL                   |['0x56b6445fd9f9e387:0x6dd3d374ef56431a', '0x56b646917980df8b:0x5092593808fd5683', '0x56b646902f0e02db:0xe98efd617fbcc18b', '0x56b6468ea1b3a017:0x9e4cf985a172fcac', '0x56b6468d13a3cf57:0xf06b0906affed5b6']|https://www.google.com/maps/place//data=!4m2!3m1!1s0x56b646ed2220b77f:0xd8975e316de80952?authuser=-1&hl=en&gl=us|
|Anchorage Market           |Anchorage Market, 88th Ave, Anchorage, AK 99515                   |0x56c8992b5dee7225:0x9f7f4bf151868cf7|NULL       |61.1414349        |-149.8684816       |"[""Farmers' market""]"                         |4.2       |18            |NULL |[['Thursday', 'Closed'], ['Friday', '10AM–5PM'], ['Saturday', '10AM–5PM'], ['Sunday', '10AM–5PM'], ['Monday', 'Closed'], ['Tuesday', 'Closed'], ['Wednesday', 'Closed']]        |{'Service options': ['In-store shopping'], 'Accessibility': ['Wheelchair accessible entrance']}                                                                                           |Closed ⋅ Opens 10AM Fri|NULL                                                                                                                                                                                                         |https://www.google.com/maps/place//data=!4m2!3m1!1s0x56c8992b5dee7225:0x9f7f4bf151868cf7?authuser=-1&hl=en&gl=us|
|Happy Camper RV            |Happy Camper RV, 1151 N Shenandoah Dr # 4, Palmer, AK 99645       |0x56c8e0455225be87:0xf24828df75e2f8ae|NULL       |61.591855499999994|-149.2906566       |['RV repair shop']                              |4.4       |28            |NULL |NULL                                                                                                                                                                            |{'Accessibility': ['Wheelchair accessible entrance'], 'Amenities': ['Mechanic'], 'Planning': ['Appointments recommended']}                                                                |NULL                   |['0x56c8e104d9929a1d:0x2070ad63defadbf', '0x56c91f08c8dd5123:0x8896bac511938278', '0x56c8e09cd012ee45:0xf2838f4de29529c3', '0x56c8e0259af71a65:0x75e1d237141b21f0']                                          |https://www.google.com/maps/place//data=!4m2!3m1!1s0x56c8e0455225be87:0xf24828df75e2f8ae?authuser=-1&hl=en&gl=us|
|Cajun Corner               |Cajun Corner, 302 G St, Anchorage, AK 99501                       |0x56c8bdb5d91017cd:0xca19fd9afceed343|NULL       |61.219378299999995|-149.8958522       |['American restaurant']                         |4.5       |24            |NULL |[['Wednesday', '11AM–2PM'], ['Thursday', '11AM–2PM'], ['Friday', '11AM–2PM'], ['Saturday', '11AM–2PM'], ['Sunday', 'Closed'], ['Monday', '11AM–2PM'], ['Tuesday', '11AM–2PM']]  |{'Service options': ['Takeout', 'Dine-in', 'Delivery'], 'Popular for': ['Dinner', 'Solo dining'], 'Dining options': ['Dessert'], 'Amenities': ['Good for kids'], 'Atmosphere': ['Casual']}|Closed ⋅ Opens 11AM Thu|NULL                                                                                                                                                                                                         |https://www.google.com/maps/place//data=!4m2!3m1!1s0x56c8bdb5d91017cd:0xca19fd9afceed343?authuser=-1&hl=en&gl=us|
|Alaska General Seafoods    |Alaska General Seafoods, 980 Stedman St, Ketchikan, AK 99901      |0x540c251956395673:0x16f5a4fe26c18931|NULL       |55.336118799999994|-131.6306694       |['Seafood wholesaler', 'Food']                  |4.7       |8             |NULL |[['Wednesday', '7AM–11PM'], ['Thursday', '7AM–11PM'], ['Friday', '7AM–11PM'], ['Saturday', '7AM–11PM'], ['Sunday', '7AM–11PM'], ['Monday', '7AM–11PM'], ['Tuesday', '7AM–11PM']]|NULL                                                                                                                                                                                      |Open ⋅ Closes 11PM     |['0x540c25a882a72685:0xac5663d19d0a1893', '0x540c25a8a1f96287:0x6041195e00ca105f', '0x540c251b5c78f2b3:0xf9b013e498c3b978', '0x540c25a6001ef629:0xbe2cdfb65aac4023']                                         |https://www.google.com/maps/place//data=!4m2!3m1!1s0x540c251956395673:0x16f5a4fe26c18931?authuser=-1&hl=en&gl=us|
+---------------------------+------------------------------------------------------------------+-------------------------------------+-----------+------------------+-------------------+------------------------------------------------+----------+--------------+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [6]:
# Register temp views
df_reviews.createOrReplaceTempView("reviews_raw")
df_meta.createOrReplaceTempView("meta_raw")

# Question 1.1

Using PySpark to do some data wrangling process, so that

## 1.1.1 For the none or null in text column, change it to 'no review'.

In [7]:
# confirm presence of 'text' column
df_reviews.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- time: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- text: string (nullable = true)
 |-- pics: string (nullable = true)
 |-- resp: string (nullable = true)
 |-- gmap_id: string (nullable = true)

In [8]:
# using spark sql query peek at rows that are null/empty/'none' before cleaning
spark.sql("""
SELECT *
FROM reviews_raw
WHERE text IS NULL
   OR TRIM(text) = ''
   OR LOWER(TRIM(text)) IN ('none', 'null')
""").show(truncate=True)

+--------------------+--------------------+-------------+--------------------+----+----+--------------------+--------------------+
|             user_id|                name|         time|              rating|text|pics|                resp|             gmap_id|
+--------------------+--------------------+-------------+--------------------+----+----+--------------------+--------------------+
|Wi-Fi didn't reac...|                NULL|         NULL|0x56b646ed2220b77...|NULL|NULL|                NULL|                NULL|
|1.169785198939306...|          Holly Anne|1629595392534|                   4|NULL|NULL|                NULL|0x56c8992b5dee722...|
|1.097489809617870...|       Emma Forsberg|1629598102068|                   5|NULL|NULL|                NULL|0x56c8992b5dee722...|
|1.069279219833724...|       sherry miller|1630540491895|                   5|NULL|NULL|                NULL|0x56c8992b5dee722...|
|1.176554580456088...|            Amy Lieb|1630292802235|                   4|NULL|NULL|                NULL|0x56c8992b5dee722...|
|1.069274254664423...|Saralan Ruth Hancock|1590877018198|                   4|NULL|NULL|                NULL|0x56c8e0455225be8...|
|1.021430901643758...|            AK Woman|1513575394394|                   5|NULL|NULL|                NULL|0x56c8e0455225be8...|
|1.170856429848184...|         John Herman|1567992031983|                   5|NULL|NULL|                NULL|0x540c2519bcfa6cc...|
|1.142961049420734...|     Brianne Belford|1565031512310|                   5|NULL|NULL|                NULL|0x540c2519bcfa6cc...|
|1.153189101608130...|  Amelia Hendrickson|1565628571929|                   5|NULL|NULL|                NULL|0x540c2519bcfa6cc...|
|1.165961600203387...|       Klaryssa lynn|1519350178408|                   4|NULL|NULL|                NULL|0x56c89632d94b816...|
|1.100323167327458...|        Roger Gaston|1529372046727|                   3|NULL|NULL|                NULL|0x56c89632d94b816...|
|1.163736279047984...|       Kim Shoecraft|1568230454943|                   5|NULL|NULL|{'time': 16276197...|0x56c89632d94b816...|
|1.071725044215238...|         Rice Marley|1530512925666|                   4|NULL|NULL|                NULL|0x56c89632d94b816...|
|1.004291235156085...|   Josh Souvannakasy|1617748871062|                   5|NULL|NULL|                NULL|0x56c89940e51d737...|
|1.021094974813695...|          Steve Dahl|1551038426358|                   1|NULL|NULL|                NULL|0x56c89940e51d737...|
|KTOO is also home...| a television sta...|         NULL|                NULL|NULL|NULL|                NULL|                NULL|
|1.006124903482679...|         Barb Kreher|1563033984076|                   5|NULL|NULL|                NULL|0x5400df83fb9c9d4...|
|1.170568832967900...|        Bret Burnett|1591441634895|                   5|NULL|NULL|                NULL|0x5400df83fb9c9d4...|
|1.174100949656436...|      Chan Valentine|1496951952943|                   5|NULL|NULL|                NULL|0x5400df83fb9c9d4...|
+--------------------+--------------------+-------------+--------------------+----+----+--------------------+--------------------+
only showing top 20 rows

In [9]:
# replace None/null/""/"none" in text with "no review"
# create new temp view 'review_clean' adding new column 'text_clean'

spark.sql("""
CREATE OR REPLACE TEMP VIEW reviews_clean AS
SELECT
  *,
  CASE
    WHEN text IS NULL
      OR TRIM(text) = ''
      OR LOWER(TRIM(text)) IN ('none', 'null')
    THEN 'no review'
    ELSE text
  END AS text_clean
FROM reviews_raw
""")

DataFrame[]

In [10]:
# peek few rows after cleaning null/none 'text' column with 'no review'
spark.sql("""
SELECT user_id, name, text AS original_text, text_clean
FROM reviews_clean
""").show(truncate=True)

+--------------------+--------------------+--------------------+--------------------+
|             user_id|                name|       original_text|          text_clean|
+--------------------+--------------------+--------------------+--------------------+
|1.091298048426862...|          Nicki Gore|We always stay he...|We always stay he...|
|1.132409264057589...|       Allen Ratliff|Great campground ...|Great campground ...|
|1.130448378911412...|   Jonathan Tringali|We tent camped he...|We tent camped he...|
|There is a bath h...| 2 restrooms (sin...| but they lack ve...| but they lack ve...|
|Wi-Fi didn't reac...|                NULL|                NULL|           no review|
|1.103291551475920...|              S Blad|This place is jus...|This place is jus...|
|1.08989634908602e+20|      Daniel Formoso|Probably the nice...|Probably the nice...|
|1.157388655487960...|       Victoria Cook|Great, slept like...|Great, slept like...|
|1.163932319879565...|              Matt H|It is always a tr...|It is always a tr...|
|1.179859920593560...|             Claudie|Only 3 booths wit...|Only 3 booths wit...|
|1.156582466444838...|       Crystal Dahle|Not a lot going o...|Not a lot going o...|
|1.036557557423225...|           John Deal|       It's a market|       It's a market|
|1.169785198939306...|          Holly Anne|                NULL|           no review|
|1.097489809617870...|       Emma Forsberg|                NULL|           no review|
|1.069279219833724...|       sherry miller|                NULL|           no review|
|1.176554580456088...|            Amy Lieb|                NULL|           no review|
|1.183310918918397...|     Phillip Lekanof|Great help, and d...|Great help, and d...|
|1.086764922481204...|        Cre•dence 52|Matt was honest a...|Matt was honest a...|
|1.169455884420099...|          The East's|Max at Happy Camp...|Max at Happy Camp...|
|1.173540222271148...|           Julie Str|Extremely easy to...|Extremely easy to...|
+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [11]:
# print count of replaced items
spark.sql("""
SELECT COUNT(*) AS replaced_count
FROM reviews_clean
WHERE text_clean = 'no review'
""").show()

+--------------+
|replaced_count|
+--------------+
|        249931|
+--------------+

## 1.1.2 Process the content in time column, and convert the strings from time to yyyy-mm-dd format in the new column as newtime and show the first 5 rows.

In [12]:
# first lets look at schema so we see column names and types
spark.sql("DESCRIBE TABLE reviews_clean").show(truncate=False)

+----------+---------+-------+
|col_name  |data_type|comment|
+----------+---------+-------+
|user_id   |string   |NULL   |
|name      |string   |NULL   |
|time      |string   |NULL   |
|rating    |string   |NULL   |
|text      |string   |NULL   |
|pics      |string   |NULL   |
|resp      |string   |NULL   |
|gmap_id   |string   |NULL   |
|text_clean|string   |NULL   |
+----------+---------+-------+

In [13]:
# lets review the lengths of 'time' strings
# In general milli seconds epoch string will be of length 13
# other lengths suggest improper data

spark.sql("""
SELECT
  LENGTH(time) AS len,
  COUNT(*)     AS cnt
FROM reviews_clean
GROUP BY LENGTH(time)
ORDER BY cnt DESC
""").show()

+----+------+
| len|   cnt|
+----+------+
|  13|521573|
|NULL| 24815|
| 112|   138|
| 224|    80|
|  40|    74|
|  42|    70|
|  20|    69|
|  14|    68|
|  18|    68|
|   6|    66|
|   7|    66|
|  21|    64|
|   5|    62|
|  41|    62|
|  11|    62|
|  44|    61|
| 336|    61|
|  39|    60|
|  23|    60|
|  29|    59|
+----+------+
only showing top 20 rows

In [14]:
# lets create a view that adds a column 'newtime' formatted as yyyy-MM-dd
spark.sql("""
CREATE OR REPLACE TEMP VIEW reviews_with_newtime AS
SELECT
  t.*,
  date_format(
    to_timestamp(
      from_unixtime( CAST(CAST(t.time AS BIGINT) / 1000 AS BIGINT) )
    ),
    'yyyy-MM-dd'
  ) AS newtime
FROM reviews_clean t
""")

DataFrame[]

In [15]:
# lets view original 'time' vs 'newtime' in yyyy-MM-dd format
spark.sql("""
SELECT user_id, name, time, newtime
FROM reviews_with_newtime
""").show(truncate=True)

# count rows where parsing failed and newtime is NULL
spark.sql("""
SELECT COUNT(*) AS null_newtime_count
FROM reviews_with_newtime
WHERE newtime IS NULL
""").show()

+--------------------+--------------------+-------------+----------+
|             user_id|                name|         time|   newtime|
+--------------------+--------------------+-------------+----------+
|1.091298048426862...|          Nicki Gore|1566331951619|2019-08-20|
|1.132409264057589...|       Allen Ratliff|1504917982385|2017-09-09|
|1.130448378911412...|   Jonathan Tringali|1474765901185|2016-09-25|
|There is a bath h...| 2 restrooms (sin...|       toilet|      NULL|
|Wi-Fi didn't reac...|                NULL|         NULL|      NULL|
|1.103291551475920...|              S Blad|1472858535682|2016-09-02|
|1.08989634908602e+20|      Daniel Formoso|1529649811341|2018-06-22|
|1.157388655487960...|       Victoria Cook|1466170294782|2016-06-17|
|1.163932319879565...|              Matt H|1625369270215|2021-07-04|
|1.179859920593560...|             Claudie|1629350418882|2021-08-19|
|1.156582466444838...|       Crystal Dahle|1630382185833|2021-08-31|
|1.036557557423225...|           John Deal|1631131711388|2021-09-08|
|1.169785198939306...|          Holly Anne|1629595392534|2021-08-22|
|1.097489809617870...|       Emma Forsberg|1629598102068|2021-08-22|
|1.069279219833724...|       sherry miller|1630540491895|2021-09-01|
|1.176554580456088...|            Amy Lieb|1630292802235|2021-08-30|
|1.183310918918397...|     Phillip Lekanof|1624600737849|2021-06-25|
|1.086764922481204...|        Cre•dence 52|1630669457601|2021-09-03|
|1.169455884420099...|          The East's|1617897565122|2021-04-08|
|1.173540222271148...|           Julie Str|1601734456932|2020-10-03|
+--------------------+--------------------+-------------+----------+
only showing top 20 rows

+------------------+
|null_newtime_count|
+------------------+
|             31104|
+------------------+